/*! Inline CSS styles.

    This is dumb, but having to use !important to override inline styles is even
    dumber. CSS 5 attr() *still* being unsupported in all browsers is dumberer.
    So, lolfml, we’re doing it this fucked way.

    The style attribute is normalised to always emit `--key:value;` with no
    whitespace between declarations or k-v pairs. */

[style*="--mw-output-align-content:"] { align-content: var(--mw-output-align-content); }
[style*="--mw-output-align-items:"] { align-items: var(--mw-output-align-items); }
[style*="--mw-output-align-self:"] { align-self: var(--mw-output-align-self); }
[style*="--mw-output-background:"] { background: var(--mw-output-background); }
[style*="--mw-output-background-color:"] { background-color: var(--mw-output-background-color); }
[style*="--mw-output-inset:"] { inset: var(--mw-output-inset); }
[style*="--mw-output-bottom:"] { bottom: var(--mw-output-bottom); }
[style*="--mw-output-border:"] { border: var(--mw-output-border); }
[style*="--mw-output-border-color:"] { border-color: var(--mw-output-border-color); }
[style*="--mw-output-border-style:"] { border-style: var(--mw-output-border-style); }
[style*="--mw-output-border-width:"] { border-width: var(--mw-output-border-width); }
[style*="--mw-output-border-bottom:"] { border-bottom: var(--mw-output-border-bottom); }
[style*="--mw-output-border-bottom-color:"] { border-bottom-color: var(--mw-output-border-bottom-color); }
[style*="--mw-output-border-bottom-style:"] { border-bottom-style: var(--mw-output-border-bottom-style); }
[style*="--mw-output-border-bottom-width:"] { border-bottom-width: var(--mw-output-border-bottom-width); }
[style*="--mw-output-border-left:"] { border-left: var(--mw-output-border-left); }
[style*="--mw-output-border-left-color:"] { border-left-color: var(--mw-output-border-left-color); }
[style*="--mw-output-border-left-style:"] { border-left-style: var(--mw-output-border-left-style); }
[style*="--mw-output-border-left-width:"] { border-left-width: var(--mw-output-border-left-width); }
[style*="--mw-output-border-right:"] { border-right: var(--mw-output-border-right); }
[style*="--mw-output-border-right-color:"] { border-right-color: var(--mw-output-border-right-color); }
[style*="--mw-output-border-right-style:"] { border-right-style: var(--mw-output-border-right-style); }
[style*="--mw-output-border-right-width:"] { border-right-width: var(--mw-output-border-right-width); }
[style*="--mw-output-border-top:"] { border-top: var(--mw-output-border-top); }
[style*="--mw-output-border-top-color:"] { border-top-color: var(--mw-output-border-top-color); }
[style*="--mw-output-border-top-style:"] { border-top-style: var(--mw-output-border-top-style); }
[style*="--mw-output-border-top-width:"] { border-top-width: var(--mw-output-border-top-width); }
[style*="--mw-output-border-radius:"] { border-radius: var(--mw-output-border-radius); }
[style*="--mw-output-border-bottom-left-radius:"] { border-bottom-left-radius: var(--mw-output-border-bottom-left-radius); }
[style*="--mw-output-border-bottom-right-radius:"] { border-bottom-right-radius: var(--mw-output-border-bottom-right-radius); }
[style*="--mw-output-border-top-left-radius:"] { border-top-left-radius: var(--mw-output-border-top-left-radius); }
[style*="--mw-output-border-top-right-radius:"] { border-top-right-radius: var(--mw-output-border-top-right-radius); }
/* box-shadow is excluded since it is undesirable basically 100% of the time */
[style*="--mw-output-box-sizing:"] { box-sizing: var(--mw-output-box-sizing); }
[style*="--mw-output-caption-side:"] { caption-side: var(--mw-output-caption-side); }
[style*="--mw-output-clear:"] { clear: var(--mw-output-clear); }
[style*="--mw-output-clip-path:"] { clip-path: var(--mw-output-clip-path); }
[style*="--mw-output-color:"] { color: var(--mw-output-color); }
[style*="--mw-output-column-count:"] { column-count: var(--mw-output-column-count); }
[style*="--mw-output-column-gap:"] { column-gap: var(--mw-output-column-gap); }
[style*="--mw-output-column-rule:"] { column-rule: var(--mw-output-column-rule); }
[style*="--mw-output-column-rule-color:"] { column-rule-color: var(--mw-output-column-rule-color); }
[style*="--mw-output-column-rule-style:"] { column-rule-style: var(--mw-output-column-rule-style); }
[style*="--mw-output-column-rule-width:"] { column-rule-width: var(--mw-output-column-rule-width); }
[style*="--mw-output-columns:"] { columns: var(--mw-output-columns); }
[style*="--mw-output-column-span:"] { column-span: var(--mw-output-column-span); }
[style*="--mw-output-column-width:"] { column-width: var(--mw-output-column-width); }
[style*="--mw-output-direction:"] { direction: var(--mw-output-direction); }
[style*="--mw-output-display:"] { display: var(--mw-output-display); }
[style*="--mw-output-empty-cells:"] { empty-cells: var(--mw-output-empty-cells); }
[style*="--mw-output-flex:"] { flex: var(--mw-output-flex); }
[style*="--mw-output-flex-basis:"] { flex-basis: var(--mw-output-flex-basis); }
[style*="--mw-output-flex-direction:"] { flex-direction: var(--mw-output-flex-direction); }
[style*="--mw-output-flex-flow:"] { flex-flow: var(--mw-output-flex-flow); }
[style*="--mw-output-flex-grow:"] { flex-grow: var(--mw-output-flex-grow); }
[style*="--mw-output-flex-shrink:"] { flex-shrink: var(--mw-output-flex-shrink); }
[style*="--mw-output-flex-wrap:"] { flex-wrap: var(--mw-output-flex-wrap); }
[style*="--mw-output-float:"] { float: var(--mw-output-float); }
[style*="--mw-output-font-family:"] { font-family: var(--mw-output-font-family); }
[style*="--mw-output-font-family:monospace;"] { font-family: var(--mono); }
[style*="--mw-output-font-family:sans-serif;"] { font-family: var(--sans); }
[style*="--mw-output-font-family:serif;"] { font-family: var(--serif); }
[style*="--mw-output-font-size:"] { font-size: var(--mw-output-font-size); }
[style*="--mw-output-font-style:"] { font-style: var(--mw-output-font-style); }
[style*="--mw-output-font-weight:"] { font-weight: var(--mw-output-font-weight); }
[style*="--mw-output-font-weight:normal;"] { font-weight: var(--normal-weight); }
[style*="--mw-output-font-weight:bold;"] { font-weight: var(--bold); }
/* The default MediaWiki skin uses a font with only two weights, so 'bolder' is
   always 'bold', and 'lighter' is always 'normal' */
[style*="--mw-output-font-weight:bolder;"] { font-weight: var(--bold); }
[style*="--mw-output-font-weight:lighter;"] { font-weight: var(--normal-weight); }
[style*="--mw-output-gap:"] { gap: var(--mw-output-gap); }
[style*="--mw-output-grid-column:"] { grid-column: var(--mw-output-grid-column); }
[style*="--mw-output-grid-column-end:"] { grid-column-end: var(--mw-output-grid-column-end); }
[style*="--mw-output-grid-column-gap:"] { grid-column-gap: var(--mw-output-grid-column-gap); }
[style*="--mw-output-grid-column-start:"] { grid-column-start: var(--mw-output-grid-column-start); }
[style*="--mw-output-grid-gap:"] { grid-gap: var(--mw-output-grid-gap); }
[style*="--mw-output-grid-row-end:"] { grid-row-end: var(--mw-output-grid-row-end); }
[style*="--mw-output-grid-row-gap:"] { grid-row-gap: var(--mw-output-grid-row-gap); }
[style*="--mw-output-grid-row-start:"] { grid-row-start: var(--mw-output-grid-row-start); }
[style*="--mw-output-height:"] { height: var(--mw-output-height); }
[style*="--mw-output-block-size:"] { block-size: var(--mw-output-block-size); }
[style*="--mw-output-image-orientation:"] { image-orientation: var(--mw-output-image-orientation); }
[style*="--mw-output-image-rendering:"] { image-rendering: var(--mw-output-image-rendering); }
[style*="--mw-output-justify-content:"] { justify-content: var(--mw-output-justify-content); }
[style*="--mw-output-justify-items:"] { justify-items: var(--mw-output-justify-items); }
[style*="--mw-output-justify-self:"] { justify-self: var(--mw-output-justify-self); }
[style*="--mw-output-left:"] { left: var(--mw-output-left); }
[style*="--mw-output-letter-spacing:"] { letter-spacing: var(--mw-output-letter-spacing); }
[style*="--mw-output-line-height:"] { line-height: var(--mw-output-line-height); }
[style*="--mw-output-list-style:"] { list-style: var(--mw-output-list-style); }
[style*="--mw-output-list-style-image:"] { list-style-image: var(--mw-output-list-style-image); }
[style*="--mw-output-list-style-position:"] { list-style-position: var(--mw-output-list-style-position); }
[style*="--mw-output-list-style-type:"] { list-style-type: var(--mw-output-list-style-type); }
[style*="--mw-output-margin:"] { margin: var(--mw-output-margin); }
[style*="--mw-output-margin-bottom:"] { margin-bottom: var(--mw-output-margin-bottom); }
[style*="--mw-output-margin-left:"] { margin-left: var(--mw-output-margin-left); }
[style*="--mw-output-margin-right:"] { margin-right: var(--mw-output-margin-right); }
[style*="--mw-output-margin-top:"] { margin-top: var(--mw-output-margin-top); }
[style*="--mw-output-max-height:"] { max-height: var(--mw-output-max-height); }
[style*="--mw-output-max-block-size:"] { max-block-size: var(--mw-output-max-block-size); }
[style*="--mw-output-max-width:"] { max-width: var(--mw-output-max-width); }
[style*="--mw-output-max-inline-size:"] { max-inline-size: var(--mw-output-max-inline-size); }
[style*="--mw-output-min-height:"] { min-height: var(--mw-output-min-height); }
[style*="--mw-output-min-block-size:"] { min-block-size: var(--mw-output-min-block-size); }
[style*="--mw-output-min-width:"] { min-width: var(--mw-output-min-width); }
[style*="--mw-output-min-inline-size:"] { min-inline-size: var(--mw-output-min-inline-size); }
[style*="--mw-output-mix-blend-mode:"] { mix-blend-mode: var(--mw-output-mix-blend-mode); }
[style*="--mw-output-object-fit:"] { object-fit: var(--mw-output-object-fit); }
[style*="--mw-output-object-position:"] { object-position: var(--mw-output-object-position); }
[style*="--mw-output-order:"] { order: var(--mw-output-order); }
[style*="--mw-output-overflow:"] { overflow: var(--mw-output-overflow); }
[style*="--mw-output-overflow-wrap:"] { overflow-wrap: var(--mw-output-overflow-wrap); }
[style*="--mw-output-overflow-x:"] { overflow-x: var(--mw-output-overflow-x); }
[style*="--mw-output-overflow-y:"] { overflow-y: var(--mw-output-overflow-y); }
[style*="--mw-output-padding:"] { padding: var(--mw-output-padding); }
[style*="--mw-output-padding-bottom:"] { padding-bottom: var(--mw-output-padding-bottom); }
[style*="--mw-output-padding-left:"] { padding-left: var(--mw-output-padding-left); }
[style*="--mw-output-padding-right:"] { padding-right: var(--mw-output-padding-right); }
[style*="--mw-output-padding-top:"] { padding-top: var(--mw-output-padding-top); }
[style*="--mw-output-place-content:"] { place-content: var(--mw-output-place-content); }
[style*="--mw-output-place-items:"] { place-items: var(--mw-output-place-items); }
[style*="--mw-output-place-self:"] { place-self: var(--mw-output-place-self); }
[style*="--mw-output-position:"] { position: var(--mw-output-position); }
[style*="--mw-output-resize:"] { resize: var(--mw-output-resize); }
[style*="--mw-output-right:"] { right: var(--mw-output-right); }
[style*="--mw-output-row-gap:"] { row-gap: var(--mw-output-row-gap); }
[style*="--mw-output-table-layout:"] { table-layout: var(--mw-output-table-layout); }
[style*="--mw-output-tab-size:"] { tab-size: var(--mw-output-tab-size); }
[style*="--mw-output-text-align:"] { text-align: var(--mw-output-text-align); }
[style*="--mw-output-text-align-last:"] { text-align-last: var(--mw-output-text-align-last); }
[style*="--mw-output-text-combine-upright:"] { text-combine-upright: var(--mw-output-text-combine-upright); }
[style*="--mw-output-text-decoration:"] { text-decoration: var(--mw-output-text-decoration); }
[style*="--mw-output-text-decoration-color:"] { text-decoration-color: var(--mw-output-text-decoration-color); }
[style*="--mw-output-text-decoration-line:"] { text-decoration-line: var(--mw-output-text-decoration-line); }
[style*="--mw-output-text-decoration-style:"] { text-decoration-style: var(--mw-output-text-decoration-style); }
[style*="--mw-output-text-emphasis:"] { text-emphasis: var(--mw-output-text-emphasis); }
[style*="--mw-output-text-emphasis-color:"] { text-emphasis-color: var(--mw-output-text-emphasis-color); }
[style*="--mw-output-text-emphasis-position:"] { text-emphasis-position: var(--mw-output-text-emphasis-position); }
[style*="--mw-output-text-emphasis-style:"] { text-emphasis-style: var(--mw-output-text-emphasis-style); }
[style*="--mw-output-text-indent:"] { text-indent: var(--mw-output-text-indent); }
[style*="--mw-output-text-justify:"] { text-justify: var(--mw-output-text-justify); }
[style*="--mw-output-text-orientation:"] { text-orientation: var(--mw-output-text-orientation); }
[style*="--mw-output-text-overflow:"] { text-overflow: var(--mw-output-text-overflow); }
[style*="--mw-output-text-shadow:"] { text-shadow: var(--mw-output-text-shadow); }
[style*="--mw-output-text-transform:"] { text-transform: var(--mw-output-text-transform); }
[style*="--mw-output-text-underline-position:"] { text-underline-position: var(--mw-output-text-underline-position); }
[style*="--mw-output-top:"] { top: var(--mw-output-top); }
[style*="--mw-output-transform:"] { transform: var(--mw-output-transform); }
[style*="--mw-output-transform-box:"] { transform-box: var(--mw-output-transform-box); }
[style*="--mw-output-transform-origin:"] { transform-origin: var(--mw-output-transform-origin); }
[style*="--mw-output-vertical-align:"] { vertical-align: var(--mw-output-vertical-align); }
[style*="--mw-output-visibility:"] { visibility: var(--mw-output-visibility); }
[style*="--mw-output-white-space:"] { white-space: var(--mw-output-white-space); }
[style*="--mw-output-width:"] { width: var(--mw-output-width); }
[style*="--mw-output-inline-size:"] { inline-size: var(--mw-output-inline-size); }
[style*="--mw-output-word-break:"] { word-break: var(--mw-output-word-break); }
[style*="--mw-output-word-wrap:"] { word-wrap: var(--mw-output-word-wrap); }
[style*="--mw-output-writing-mode:"] { writing-mode: var(--mw-output-writing-mode); }
[style*="--mw-output-z-index:"] { z-index: var(--mw-output-z-index); }
