@layer base, templatestyles, inline;

@import url("css/vars.css") layer(base);
@import url("css/base.css") layer(base);
@import url("css/layout.css") layer(base);
@import url("css/inline.css") layer(inline);
@import url("css/extension_tags.css");
@import url("css/overrides.css");
